ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 15px;
    flex-direction: row;

    a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
}
